#b_rubi{
    background-color:white;
    text-align: center;
    padding: 1em;
    border-radius: 0.5em;
    border:2px solid #9b111e;
    color: #9b111e;
    font-size: 1em;
}

#b_rubi:hover{
    border:2px solid blue;
    color: blue;
}

body{
    font-family: 'Roboto', sans-serif;
    color: gray;
}

h1{
    font-family: sans-serif;
    color: black;
    font-size: 2em;
}

h2{
    font-size: 1em;
    
}

h3{
    color: black;
}

h4{
    color: black;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
}

hr{
    border-color: red;
    height: 1px;
    color: #9b111e;
    background-color: #9b111e;
    border-radius: 0.5em;
}

.img{
    display: flex;
    justify-content: center;
}



.grid-container1{
    display: flex;
    justify-content: space-between;
    
}
.grid-item{
    margin: 0.5em;
}


.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}



.wrapper1{
    color: red;
    display: grid;
    grid-template-columns: 50% 50%;

}
p{
    color: gray;
}

:root{
    margin: auto;
    padding: 2em;
}

.art{
    text-align: justify;
    padding-bottom: 0;
    margin: 0;
}

.icono{
    font-size: 5em;
    text-align: center;
}


article{
    border-bottom-color: gray;
    border-bottom: solid 3px;
}
